<form action="/updatecomment" method="post" class="myForm">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1>Σχόλιο </h1>
            </div>
        </div>
        <fieldset class="border p-2 mb-3">
            <legend class="w-auto">Προσθέστε το σχόλιο σας</legend>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-2 justify-content-start d-flex">
                    <label for="newBookTitle" class="col-form-label">Τίτλος</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="text" class="form-control" id="newBookTitle" value="{{title}}" name="newBookTitle" placeholder="Γράψτε τον τίτλο" readonly="readonly">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-2 justify-content-start d-flex">
                    <label for="newBookAuthor" class="col-form-label">Συγγραφέας</label>
                </div>
                <div class="col-md-10 col-sm-10 position-relative">
                    <input type="text" class="form-control" id="newBookAuthor" value="{{author}}" name="newBookAuthor" placeholder="Συγγραφέας ή συγγραφείς" readonly="readonly">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-2 justify-content-start d-flex">
                    <label for="BookComment" class="col-form-label">Σχόλιο</label>
                </div>
                <div class="col-md-10 col-sm-10 position-relative">
                    <input type="text" class="form-control" id="BookComment" value="{{comment}}" name="BookComment" placeholder="Σχόλιο">
                </div>
            </div>
        </fieldset>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary mb-3">Υποβολή</button>
            </div>
        </div>
    </div>
</form>

<div class="row mt-2">
    <div class="col-12">
        <h2>Άλλοι είπαν...</h2>
    </div>
</div> 
{{#if comments}}

<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Μέλος</th>
                <th>Σχόλιο</th>
            </tr>
        </thead>
        <tbody>
            {{#each comments}}
                <tr>
                    <td>{{dataValues.UserName}}</td>
                    <td>{{dataValues.comment}}</td>
                </tr>           
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
{{#unless comments}}
    <div class="row mt-5">
        <div class="col"> Δεν υπάρχει κανένα σχόλιο για αυτό το βιβλίο </div>
    </div>
{{/unless}}
{{#if error}}
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="alert alert-primary" role="alert">
                {{error}}
            </div>
        </div>
    </div>
{{/if}}